<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @package    Optimiseweb_FormProcessor
* @author     Kathir Vel (vkathirvel@gmail.com)
* @copyright  Copyright (c) 2015 Kathir Vel
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>

    <tabs>
        <optimisewebconfig translate="label comment" module="formprocessor">
            <label>Optimise Web</label>
            <sort_order>400</sort_order>
        </optimisewebconfig>
    </tabs>

    <sections>
        <optimisewebformprocessor translate="label comment" module="formprocessor">
            <label>Form Processor</label>
            <tab>optimisewebconfig</tab>
            <class>ow-system-section ow-form-processor-section</class>
            <header_css>ow-system-header ow-form-processor-header</header_css>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>

                <hint translate="label comment" module="formprocessor">
                    <frontend_model>formprocessor/adminhtml_system_config_fieldset_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>

                <sample translate="label comment" module="formprocessor">
                    <label>Sample Form Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment" module="formprocessor">
                            <label>Enable a Sample Form Page?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <form_id translate="label comment" module="formprocessor">
                            <label>ID of the form to test?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </form_id>
                        <ajax translate="label comment" module="formprocessor">
                            <label>AJAX?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ajax>
                        <root_template translate="label comment" module="formprocessor">
                            <label>Page Design Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>formprocessor/system_config_source_layouts</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </root_template>
                        <url translate="label comment" module="formprocessor">
                            <label>Sample Form Page</label>
                            <frontend_model>formprocessor/system_config_backend_sample</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url>
                    </fields>
                </sample>


                <return_messages translate="label comment" module="formprocessor">
                    <label>Global / Default Return Messages</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <success_message translate="label comment" module="formprocessor">
                            <label>Success Message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </success_message>
                        <error_message translate="label comment" module="formprocessor">
                            <label>Error Message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_message>
                        <notice_message translate="label comment" module="formprocessor">
                            <label>Notice Message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notice_message>
                    </fields>
                </return_messages>

                <ajax translate="label comment" module="formprocessor">
                    <label>AJAX Processing</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <loader translate="label comment" module="formprocessor">
                            <label>Loader</label>
                            <comment>Allowed file types: jpeg, gif, png.</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">optimiseweb/formprocessor/loader</upload_dir>
                            <base_url type="media" scope_info="1">optimiseweb/formprocessor/loader</base_url>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </loader>
                    </fields>
                </ajax>

            </groups>
        </optimisewebformprocessor>
    </sections>
    
</config>